.product-header-banner-area {
    min-height: 565px;
    background-image: url("../../padma/images/banner-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
}

.box-wrap {
    margin-top: 25%;
}

.box-content {
    padding: 40px 65px 45px 40px;
    background-color: $white;
    opacity: 0.85;
    border-radius: 4px;

    &-heading {
        font-weight: bold;
        @include styleText(2rem, $blueDark, 29px, $sfProHeavy);
    }

    &-title {
        margin-top: 20px;
        @include styleText(2rem, $blueDark, 29px, $sfPro);
    }
}

@media screen and (max-width: 576px) {
    .product-header-banner-area {
        min-height: 450px;
    }

    .box-content {
        padding: 30px 35px 25px 20px;

        &-heading {
            @include styleText(1.5rem, $blueDark, 29px, $sfProHeavy);
        }

        &-title {
            @include styleText(1.5rem, $blueDark, 29px, $sfPro);
        }
    }
}
