.section4 {
    padding: 65px 0 85px 0;
    background-color: $blueDark;

    &-title {
        
        @include styleText (36px, $white, "146.69%", $sfPro)
    }

    &-bigger-title {
        margin-top: 10px;
        @include styleText (36px, $white, "146,69%", $sfProHeavy)
    }
}

@media screen and (max-width: 768px) {
    .section4 {
        padding: 40px 0 60px 0;
    }
}

@media screen and (max-width: 576px) {
    .section4 {
        padding: 30px 0 40px 0;

        &-title {
            @include styleText (1.875rem, $white, "146.69%", $sfPro)
        }
    
        &-bigger-title {
            @include styleText (1.875rem, $white, "146,69%", $sfProHeavy)
        }
    }
}