@font-face {
    font-family: "sfpro";
    src: url("../../../fonts/SFPRODISPLAY.otf");
}

@font-face {
    font-family: "blank";
    src: url("../../../fonts/Blanka-Regular.otf");
}


@font-face {
    font-family: "sfproheavy";
    src: url("../../../fonts/SFPROBOLD.otf");
}