// Colors

$white: #ffffff;
$blue: #2D88FF;
$blueDark: #246DCE;
$blueDarker: #2062B9;
$gray: #F2F2F2;
$grayLighter: #E5E5E5;
$black: #2C343D;

// Fonts 

$sfPro: "sfPro", sans-serif;
$blank: "blank", sans-serif;
$sfProHeavy: "sfproheavy", sans-serif;